# General
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# API Gateway
PORT=3000

# Puertos HTTP/TCP de cada microservicio
USUARIOS_PORT=4001
CUENTAS_PORT=4002
TRANSACCIONES_PORT=4003

# Base de datos PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=rootroot
DB_DATABASE_USUARIOS=UsuariosBDD
DB_DATABASE_CUENTAS=CuentasBDD
DB_DATABASE_TRANSACCIONES=TransaccionesBDD
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=false

# En desarrollo puedes dejar true para crear tablas automaticamente.
# En produccion usa migraciones y cambia a false.
DB_SYNCHRONIZE=true
DB_LOGGING=false

# Carga datos demo si la base esta vacia al iniciar el servicio de clientes.
DB_SEED_DEMO=false

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Comunicacion interna entre microservicios
SVC_CUENTAS_HOST=svc-cuentas
SVC_CUENTAS_PORT=4002
SVC_TRANSACCIONES_HOST=svc-transacciones
SVC_TRANSACCIONES_PORT=4003

# Redis Insight
RI_APP_PORT=5540
RI_APP_HOST=0.0.0.0
RI_REDIS_HOST=redis
RI_REDIS_PORT=6379
RI_REDIS_ALIAS=redis_broker
